<div class="navigation-menu">
    <div class="navigation-menu-background"></div>
    <div class="navigation-menu-items">
        <div class="navigation-menu-items-item">
            <NavLink class="navigation-menu-link" href="" Match="NavLinkMatch.All">
                <h1>Main</h1>
            </NavLink>
        </div>
        <div class="navigation-menu-items-item">
            <NavLink class="navigation-menu-link" href="albums">
                <h1>Albums</h1>
            </NavLink>
        </div>
        <div class="navigation-menu-items-item">
            <NavLink class="navigation-menu-link" href="posts">
                <h1>Posts</h1>
            </NavLink>
        </div>
        <div class="navigation-menu-items-item">
            <NavLink class="navigation-menu-link" href="contact">
                <h1>Contact</h1>
            </NavLink>
        </div>
    </div>
</div>